table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-story-row {
  cursor: pointer;
}

tr.example-story-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-story-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-story-row td {
  border-bottom-width: 0;
}

.example-story-detail-wrapper {
  overflow: hidden;
  display: grid;
  grid-template-rows: 0fr;
  grid-template-columns: 100%;
  transition: grid-template-rows 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-story-detail-wrapper-expanded {
  grid-template-rows: 1fr;
}

.example-story-detail {
  display: flex;
  min-height: 0;
}

.example-story-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-story-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-story-description {
  padding: 16px;
}

.example-story-description-attribution {
  opacity: 0.5;
}

.example-toggle-button {
  border: none;
  background: transparent;
  cursor: pointer;
  transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-toggle-button-expanded {
  transform: rotate(180deg);
}

.action-btn-wrapper {
  display: flex;
  gap: 10px;
}

.btn-toggle-group {
  margin-bottom: 10px;
}
