<section class="view-story">
  <h1>Tell me a story!</h1>

  <article class="story-wrapper">
    <p>
      @if(story()) {
      {{ story()?.content }}
      } @else {
      {{ "No story available." }}
      }
    </p>
  </article>

  <div class="btn-wrapper">
    <button
      id="get-good-story-btn"
      mat-raised-button
      (click)="getRandomStory('good')"
    >
      Good day
    </button>
    <button
      id="get-bad-story-btn"
      mat-raised-button
      (click)="getRandomStory('bad')"
    >
      Bad Day
    </button>
  </div>
</section>
