<section class="write-a-story">
  <h1>Tell me about your day</h1>

  <div class="form-wrapper">
    <form (ngSubmit)="onSubmit()">
      <mat-button-toggle-group
        name="story-type"
        aria-label="story-type"
        [(ngModel)]="story.type"
        required
      >
        <mat-button-toggle value="good">Good day</mat-button-toggle>
        <mat-button-toggle value="bad">Bad day</mat-button-toggle>
      </mat-button-toggle-group>

      <mat-form-field>
        <mat-label>Write your story</mat-label>
        <textarea
          matInput
          [(ngModel)]="story.content"
          name="story"
          required
        ></textarea>
      </mat-form-field>
      <button class="submit-btn" mat-raised-button type="submit">Send</button>
    </form>
  </div>
</section>
