<section class="write-a-story">
  <h1>Tell me about your day</h1>

  <div class="form-wrapper">
    <form (ngSubmit)="onSubmit()" [formGroup]="storyForm">
      <mat-button-toggle-group
        name="story-type"
        aria-label="Select an option"
        formControlName="type"
        required
      >
        <mat-button-toggle value="good">Good day</mat-button-toggle>
        <mat-button-toggle value="bad">Bad day</mat-button-toggle>
      </mat-button-toggle-group>
      @if(typeSelectionErrorMessage) {
      <mat-error>Please select an option.</mat-error>
      }

      <mat-form-field>
        <mat-label>Write your story</mat-label>
        <textarea
          matInput
          formControlName="content"
          name="story"
          required
        ></textarea>
      </mat-form-field>
      @if(!storyForm.get('content')?.valid && storyForm.touched) {
      <mat-error>Please write your story.</mat-error>
      }
      <button
        class="submit-btn"
        mat-raised-button
        type="submit"
        [disabled]="storyForm.invalid"
      >
        Send
      </button>
    </form>
  </div>
</section>
